* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-right: 166px;
    padding-left: 166px;
}

/* HEADER */

.header {
    background-image: url(./../img/header-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 210px;
    padding-top: 24px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 161px;
}

/* HERO */

.hero {

}

.hero-content {

}

.hero-subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.hero-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #FFFFFF;
    margin-top: 22px;
    margin-bottom: 24px;
}

.hero-descr {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 45px;
}