* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

button {
    border: none;
    overflow: visible;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}

.container {
    padding-right: 166px;
    padding-left: 166px;
}

/* HEADER */

.header {
    background-image: url(./../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 210px;
    padding-top: 24px;
    margin-bottom: 244px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 161px;
    justify-content: space-between;
}

.header-links {
    display: flex;
}

.header-webovio-logo {
    display: inline-block;
}

.header-webovio-text {
    display: inline-block;
    margin-left: 11px;
    margin-bottom: 10px;
}

/* HERO */

.hero-subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.hero-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #FFFFFF;
    margin-top: 22px;
    margin-bottom: 24px;
}

.hero-descr {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.hero-link {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #FFD723;
    transition: all 0.3s ease-in;
}

.hero-link:hover {
    color: #b09200;
}

.header-burger {
    border-radius: 50%;
    padding: 10px 11px;
    line-height: 2px;
    width: 40px;
    height: 40px;
    background-color: #F5F6F7;
}

.burger-line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000;
}

/* MAIN */



/* MAIN SERVICES */

.services {
    margin-bottom: 150px;
}

.services-text h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(77, 83, 60, 0.9);
}

.services-text h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
    margin-top: 29px;
    margin-bottom: 35px;
}

.services-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    margin-bottom: 42px;
}

.services-text a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #D4D6D4;
    transition: all 0.3s ease-in;
}

.services-text a:hover {
    color: #4D533C;
}

/* MAIN PROJECTS */

.projects {
    padding-top: 150px;
}

.projects-heading {
    display: flex;
    align-items: center;
    margin-bottom: 110px;
    margin-left: 165px;
}

.projects-heading h1 {
    margin-right: 133px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #4D533C;
}

.projects-heading p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

/* PROJECTS BLOCKS */



/* PROJECTS FIRST */

.projects-first {
    display: flex;
    align-items: center;
    margin-bottom: 165px;
}

.projects-first img {
    margin-right: 90px;
}

.projects-first-block h1 {
    margin-bottom: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #4D533C;
}

.projects-first-block p {
    margin-bottom: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

.projects-first-block a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #D4D6D4;
    transition: all 0.3s ease-in;
}

.projects-first-block a:hover {
    color: #4D533C;
}

/* PROJECTS SECOND */

.projects-second {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 165px;
}

.projects-second img {
    margin-left: 90px;
}

.projects-second-block h1 {
    margin-bottom: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #4D533C;
}

.projects-second-block p {
    margin-bottom: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

.projects-second-block a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #D4D6D4;
    transition: all 0.3s ease-in;
}

.projects-second-block a:hover {
    color: #4D533C;
}

/* PROJECTS THIRD */

.projects-third {
    display: flex;
    align-items: center;
    margin-bottom: 340px;
}

.projects-third-block {
    margin-left: 94px;
}

.projects-third-block h1 {
    margin-bottom: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #4D533C;
}

.projects-third-block p {
    margin-bottom: 116px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

.projects-third-block a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #D4D6D4;
    transition: all 0.3s ease-in;
}

.projects-third-block a:hover {
    color: #4D533C;
}

/* VARIANTS */

.variants-blocks {
    margin-bottom: 180px;
}

.variants-header h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
    margin-bottom: 80px;
}

/* VARIANTS BLOCKS */

.variants-blocks {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.variant-block-first {
    margin-right: 60px;
}

.variant-block-first h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #4D533C;
    margin-bottom: 20px;
}

.variant-block-first p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    margin-bottom: 56px;
}

.variant-block-first a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #D4D6D4;
    transition: all 0.2s ease-in;
}

.variant-block-first a:hover {
    color: #FFD723;
}

/* VARIANTS BLOCK SECOND */

.variant-block-second {
    margin-right: 60px;
}

.variant-block-second h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #4D533C;
    margin-bottom: 20px;
}

.variant-block-second p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    margin-bottom: 30px;
}

.variant-block-second a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #D4D6D4;
    transition: all 0.2s ease-in;
}

.variant-block-second a:hover {
    color: #FFD723;
}

/* VARIANTS BLOCK THIRD */

.variant-block-third {
    margin-right: 60px;
}

.variant-block-third h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #4D533C;
    margin-bottom: 20px;
}

.variant-block-third p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    margin-bottom: 56px;
}

.variant-block-third a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #D4D6D4;
    transition: all 0.2s ease-in;
}

.variant-block-third a:hover {
    color: #FFD723;
}

/* VARIANTS BLOCK FOURTH */

.variant-block-fourth {

}

.variant-block-fourth h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #4D533C;
    margin-bottom: 20px;
}

.variant-block-fourth p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    margin-bottom: 30px;
}

.variant-block-fourth a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #D4D6D4;
    transition: all 0.2s ease-in;
}

.variant-block-fourth a:hover {
    color: #FFD723;
}

/* VARIANT COMMENT */

.variant-comment {
    background: #FAFAFA;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
    padding-top: 70px;
    padding-left: 164px;
    padding-right: 289px;
    padding-bottom: 70px;
    width: 1275px;
}

.variant-comment h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #4D533C;
    margin-bottom: 50px;
}

.variant-comment a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #D4D6D4;
    transition: all 0.2s ease-in;
}

.variant-comment a:hover {
    color: #FFD723;
}

/* FOOTER */

.footer {
    background: url(./../img/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 310px;
}

.footer-block {

}

.footer-wrapper {
    display: flex;
}

.footer-numbers {
    display: flex;
    flex-direction: column;
    margin-right: 128px;
    margin-bottom: 114px;
}

.footer-phone {
    margin-bottom: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}

.footer-number {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #FFF;
}

.footer-addresses {
    display: flex;
    flex-direction: column;
    margin-bottom: 114px;
}

.footer-address {
    margin-bottom: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}

.footer-position {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #FFF;
}

/* FOOTER INFO */

.footer-info {
    display: flex;
}

/* FOOTER SERVICES */

.footer-services {
    margin-right: 80px;
}

.footer-services h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 21px;
}

.footer-services p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}

/* FOOTER ADVICES */

.footer-advices {
    margin-right: 110px;
}

.footer-advices h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 21px;
}

.footer-advices p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}

/* FOOTER COMPANY */

.footer-company {
    position: relative;
}

.footer-company::after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 197px;
    width: 1px;
    height: 210px;
    background-color: #5D6544;
}

.footer-company h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 21px;
}

.footer-company p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}

/* FOOTER GMAIL */

.footer-gmail {
    margin-left: 208px;
}

.footer-gmail h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 23px;
}

.footer-gmail p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;
    margin-bottom: 23px;
}

.footer-gmail h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #FFF;
    margin-bottom: 24px;
}

/* FOOTER GMAIL LISTS */

.footer-gmail-lists {
    display: flex;
}

.footer-gmail-facebook {
    width: 33px;
    height: 33px;
    background-color: #444A34;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    margin-right: 11px;
}

.footer-gmail-facebook:hover {
    background-color: #FFD723;
}

/* FOOTER GMAIL TWITTER */

.footer-gmail-twitter {
    width: 33px;
    height: 33px;
    background-color: #444A34;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    margin-right: 11px;
}

.footer-gmail-twitter:hover {
    background-color: #FFD723;
}

/* FOOTER GMAIL GMAIL+ */

.footer-gmail-gmail {
    width: 33px;
    height: 33px;
    background-color: #444A34;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    margin-right: 11px;
}

.footer-gmail-gmail:hover {
    background-color: #FFD723;
}

/* FOOTER GMAIL LINKEDIN */

.footer-gmail-linkedin {
    width: 33px;
    height: 33px;
    background-color: #444A34;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}

.footer-gmail-linkedin:hover {
    background-color: #FFD723;
}